* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  position: fixed;
  background-color: rgb(247, 239, 227);
  display: flex;
  justify-content: space-between;
  height: 114px;
  padding: 20px 20px;
}
header img {
  width: 180px;
  height: 74px;
}
header .navfull img {
  margin: 0px 10px;
  width: 35px;
  height: 25px;
}
header .navfull {
  margin: 20px 0px;
  display: flex;
}
header .navfull nav ul {
  display: flex;
}
header .navfull nav ul li {
  list-style-type: none;
}
header .navfull nav ul li a {
  text-decoration: none;
  color: #6f6d6d;
  padding: 12px 22px;
  font-size: 16px;
}
header .navbar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 85px;
	background-color: rgb(247, 239, 227);
	padding-bottom: 20px;
}
header .navbar li  {
	
	margin-top: 10px;
	font-size: 16px;	
}
header .cover-navbar {
	display: none;
}
header nav ul li:hover .cover-navbar,header nav ul li .cover-navbar:hover {
	display: inline;
}
header nav ul li .cover-navbar a:hover {
	color: #f07305;
}
section {
  background-color: rgb(252, 246, 237);
}
.ar1 {
  padding-bottom: 96px;
  margin: 0px 250px;
}
 .intro{
  padding: 96px 32px 0px 32px;
  text-align: center;
}
.intro h1{
  padding: 0px 17px 17px 17px;
}
.intro p{
  padding: 17px;
}
.intro .bistro {
  padding: 17px;
}
article h1 {
    color: rgb(240, 115, 5);
    font-size: 26px;
}

article  a{
  padding-top: 13px;
  font-size: 14px;
  padding: 13px 26px;
  background-color: #f07305;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
}
article  a:hover{
  opacity: 0.8;
}
article img {
  width: 249px;
  height: 249px;
  padding: 2px;
}
article .imgs {
  padding-bottom: 17px;
}
.address {
  
 padding: 96px 15%+32px ;
 background-color: rgb(252, 246, 237);
}
.address .info {
    width: 669px;
    text-align: center;
    margin: 0 auto;
}
.address .info h1{
  color: #f07305;
  font-size: 26px;
  margin-bottom: 26px;
}
.address .info {
  font-size: 17px;
  color: rgba(0,0,0,.73);
}
.address .covers {
  display: flex;
}
.covers .left {
  width: 50%;
}
.covers .right {
  width: 50%;
}
.covers img {
  width: 493px;
  height: 329px;
}
.covers img , .cover .coverm {
  padding: 17px 17px 96px 17px;
}

.coverm h1 {
  margin-bottom: 13px;
}
.coverm > p {
  padding-bottom: 34px;
  margin: 17px 0px;
  font-size: 17px;
  color: rgba(0,0,0,.73)
}
.coverm > a {
  margin: 34px 0px;

}
footer {
  height: 634px;
  text-align: center;
  width: 100%;
  height: 700px;
  background-color: rgb(240, 115, 5);
}
footer p {
  color: rgb(245, 198, 184);
}
footer .info {
  height: 570px;
  margin: 0px 267px;
  padding: 0px 32px;
  padding-bottom: 54px;
}
footer .info1 {
  padding: 90px 17px 17px 17px;
}
footer .info2 {
  margin-bottom: 17px;
}
footer img {
  padding: 17px;
  width: 297px;
  height: 159px;
}
footer .icons {
  padding: 17px;
  margin-bottom: -20px;
}
footer .icons a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  padding: 5px;
}
#dg {
  border-top: 1px solid rgb(242, 136, 42);
  padding-top: 75px;
}

footer .icons:hover a {
  color: rgba(255, 255, 255, 0.5);
}
footer .icons a:hover {
  color: #fff;
}
